[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask = "*"
shell = "*"
flask-mysqldb = "*"

[dev-packages]

[requires]
python_version = "3.13"
